<h1 align="center">
    Welcome to the Minecraft intro WIKI
</h1>
<h3 align="center">
    use "intro/name" to navigate to desired page
</h3>
<p align="center">
    or create a new entry below
</p>
<div>
    <form method="post" action="/intro/create">
    <fieldset>
        <label for="name">Name:</label>
         <input type="text" name="name" id="name">
        <label for="intro">Intro:</label>
         <input type="text" name="intro" id="name">
         <input type="submit">
    </fieldset>
    </form>
</div>

<a href ="/">Back to Home</a>
